<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Electron Boilerplate</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

     <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

    <script src="vendor/electron_boilerplate/context_menu.js"></script>
    <script src="vendor/electron_boilerplate/external_links.js"></script>

    <script src="app.js"></script>
</head>
  <body ng-app="starterApp" layout="row" ng-controller="UserController as ul" ng-cloak >
    <div layout="column" style="height:500px;" layout-fill>

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2 md-sidenav-left">
            <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2">
                <md-button layout="row" layout-align="center center" class="md-toolbar-tools md-warn"
                    href="https://github.com/flatlogic/angular-material-dashboard">
                    <h1><img src="assets/images/tgIMG-logo-tangoe.png"/></h1>
                </md-button>
            </md-toolbar>
            <md-button ng-repeat-start="item in vm.menuItems" layout="column" layout-align="center center"
                 flex class="capitalize" ng-click="vm.selectItem(item)"
                 ui-sref-active="md-warn" ui-sref="{{item.sref}}">
                <div hide-sm hide-md class="md-tile-content">
              <i class="material-icons md-36">{{item.icon}}</i>
          </div>
          <div class="md-tile-content">
              {{item.name}}
          </div>
      </md-button>
      <md-divider ng-repeat-end></md-divider>
      <md-button ng-click="vm.showActions($event)" layout-align="center center">
          <div class="md-tile-content">
            Actions
          </div>
      </md-button>
</md-sidnav>

<div layout="column" flex layout-fill>
    Stuff goes in here
</div>

<md-sidenav md-component-id="right" class="md-whiteframe-z2 md-sidenav-right">
</md>

</div>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./node_modules/angular-material/angular-material.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('indigo')
                          .accentPalette('amber')
                          .warnPalette('defaultPrimary');

    $mdThemingProvider.theme('dark', 'default')
      .primaryPalette('defaultPrimary')
      .dark();

    $mdThemingProvider.theme('grey', 'default')
      .primaryPalette('grey');

    $mdThemingProvider.theme('custom', 'default')
      .primaryPalette('defaultPrimary', {
        'hue-1': '50'
    });

    $mdThemingProvider.definePalette('defaultPrimary', {
      '50':  '#FFFFFF',
      '100': 'rgb(255, 198, 197)',
      '200': '#E75753',
      '300': '#E75753',
      '400': '#E75753',
      '500': '#E75753',
      '600': '#E75753',
      '700': '#E75753',
      '800': '#E75753',
      '900': '#E75753',
      'A100': '#E75753',
      'A200': '#E75753',
      'A400': '#E75753',
      'A700': '#E75753'
    });

    $mdIconProvider.icon('user', 'assets/images/user.svg', 64);

              });

    </script>
</body>
</html>
